$ff-karla: 'Karla', sans-serif;

$fw-base: 1.6rem;

// title
$fz-base: 1.6rem;
$fz-title-min: 2.5rem;
$fz-title-max: 5rem;
$fz-title-fluid: clamp($fz-title-min, 0rem + 6.25vw, $fz-title-max);

// text
$fz-text-min: 1.4rem;
$fz-text-max: 1.8rem;
$fz-text-fluid: clamp($fz-text-min, 0.6rem + 1.75vw, $fz-text-max);

// font family karla
$fw-karla-400: 400;
$fw-karla-700: 700;
