@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.button {
  all: unset;

  text-align: center;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: $clr-prim-200;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  @include mq(medium) {
    margin-top: 4rem;
  }
}
